@charset "ISO-8859-1";/* CSS Do cument */
html{
	color:#000;
	background:#FFF;
}

 /*#TopBar { 
    border: solid;
    border-radius: 2px;  
    background-color:  #242526; 
    color: #61dafb;
} */ 

#TopBar > h1 {
    font-size: 50px;
    text-align: center;
    /*text-shadow: #000 1px 0 10px; on met de l'ombre*/
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: #000 3px solid; /* Elle est un peu plus épaisse que les bordures en dessous*/
    border-bottom: #000 3px solid;
}
nav > a { /*On cible le a pour séparer les titres*/
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

#Presentation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    line-break: auto;
    text-align: center;
}


.Contact-form {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column ; A reverifier .... il faudra décaler le texte à gaucehe*/
    justify-content: center;

}
 
.Contact-form  > h1{ 
    text-decoration: underline;
    justify-content: center;
}


form {
    justify-content: center;
}


.contact-element {
    margin: 5px;

}

#Footer {
    margin-top: 50px;
    padding-top: 10px;
    border-top: #000 1px solid;
    /* border-bottom: #000 1px solid; A priori pas nécéssaire selon l'énoncé */
    text-align: center;
    display: flex;
}

#Footer > a {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color:#000;
}
